@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/images/icon_diploma.png" />
            </div>
            <div class="col-md-8">
                <div class="card-body mt-5 ml-3 mr-3" >
                    <h3 class="card-title text-center">Electronic Diploma Identity Service - eDIS</h3>
                    <br />
                    <p class="card-text text-center mt-3">The main purpose of eDIS is to provide a common framework for the verification and validation of study diplomas, through a system that uses decentralized technology.</p>
                    
                    <button type="button" class="btn btn-outline-secondary mt-4 mb-5">Check your diploma</button>
                    
                    <p class="card-text mt-5"><small class="text-muted">Are you an organisation? Log in for more advantages.</small></p>
                    <button type="button" class="btn btn-link"><small class="text-black-50">Login</small></button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .card{
        border:none;
    }
</style>